.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.paperContainer {
  width: 65%;
}

@media screen and (max-width: 475px) {
  .paperContainer {
    width: 100%;
  }
}
