.container {
  width: 30%;
}
.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formRow {
  display: inline-block;
  margin-top: 10px;
  label {
    display: inline-block;
    text-align: left !important;
    width: 175px !important;
    margin-right: -25px !important;
  }
  input {
    max-width: 50px !important;
    text-align: left !important;
    margin-top: -5px !important;
  }
}

.submitButton {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .container {
    width: 65%;
  }
}

@media screen and (max-width: 475px) {
  .container {
    width: 100%;
  }
}
